$font-size-base: 24px;
$primary: #415165;
$secondary: #A00404;
$spacer: 8px;

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: $font-size-base;
    line-height: 1.5;
}

img{
    vertical-align: middle;
}

.full{
    background: $primary;
    padding: $spacer * 3 0px $spacer * 5;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    padding: $spacer * 5 0px $spacer * 3;
    border-bottom: 2px solid #000;
    margin-bottom: $spacer * 6;
    .name{
        font-size: $font-size-base * 3.3333;
        line-height: 1.1875;
    }
}

.photo{
    margin-bottom: $spacer * 6;
}

.infCard{
    margin-bottom: $spacer * 8;
    &-header{
        font-size: $font-size-base * 1.3333;
        font-weight: 600;
        padding-bottom: $spacer;
        border-bottom: 1px solid #000;
        margin-bottom: $spacer * 2;
        span{
            font-size: $font-size-base;
            color: $secondary;
            margin-left: $spacer * 2;
        }
    }
    &-body-mb2{
        > li{
            margin-bottom: $spacer * 2;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    &-body-mb3{
        > li{
            margin-bottom: $spacer * 3;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    &-body-style{
        padding-left: $spacer * 3;
        border-left: 1px solid #96A9C4;
        margin-left: $spacer * 3;
        h3{
            font-weight: 600;
        }
        p{
            width: 642px;
            font-size: $font-size-base * 0.8333;
        }
    }
    .community{
        a{
            text-decoration: none;
            margin-right: $spacer * 3;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}

.infCardDark{
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    .infCard-header{
        border-bottom: 1px solid #fff;
        span{
            color: #fff;
        }
    }
    &-body-textLeft{
        text-align: left;
        padding: 0px $spacer * 3;
        border-left: 1px solid #fff;
        margin-left: 390px;
        li{
            margin-bottom: $spacer;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

.container-px{
    padding-left: 102px;
    padding-right: 102px;
}

.mb-3{
    margin-bottom: $spacer * 3;
}

.mb-5{
    margin-bottom: $spacer * 5;
}

.mb-8{
    margin-bottom: $spacer * 8;
}

.mb-10{
    margin-bottom: $spacer * 10;
}